@import "variables";

$clir: #9a1c46;
$dlf-blue: #236DA3;

.bi-heart-fill {
    color: $clir;
}

.dlf-logo {
    // @see to convert https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(39%) sepia(82%) saturate(424%) hue-rotate(163deg) brightness(82%) contrast(101%);
}

.clir-logo {
    // @see to convert https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(20%) sepia(26%) saturate(5215%) hue-rotate(315deg) brightness(93%) contrast(101%);
}